
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: Dairy#FCFCFC;
    line-height: 1.5;
    letter-spacing: %2;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    
}
header {
    width: 1140px;
    height: 72;
    border: 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 0 auto;
    padding-bottom: 30px;
    align-self: center;

}
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
.header-nav {
    display: flex;
    flex-direction: row;
}
}
footer {
    width: 1440px;
    height: 312px;
    text-align: left;
    background-color: #2E2F42;
}
footer>p {
    color: #F4F4FD;
}
h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #2E2F42;
}
ul {
    margin-top: 0;
    margin-bottom: ;
    padding-left: 0;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    background-color: #2E2F42;
  border: 0px solid #000;
  padding-top: 250px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    
}
ul {
    list-style-type: none;
    
}

.sc1 {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    text-align: center;
}
.sc2 ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 100px 70px 70px 100px;
}
.sc3 {
    width: 1440px;
    top: 1016px;
    background-color: #F4F4FD;
    padding-top: 200px;

}
.sc3 ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 70px 70px 100px 70px;
}
.sc4 ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 50px 5px 10px 10px;
}
.sc4 ul>li {
    width: calc((00% -50px)/6)
}
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: %3;
    text-alignment: center;
    text-transform: uppercase;
    text-decoration: none;
}
.logo1color {
    color: #2E2F42;
}
.logo2color {
    color: #F4F4FD;

}
a {
    color: #2E2F42;
    font-weight: 500;
    text-decoration: none;
}
button {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: %4;
    text-alignment: center;
    background-color: #4D5AE5;
    margin-top: 50px;
}
a:hover, a:focus {
    color: #4D5AE5;
}
button:hover, button:focus {
    color: #434455;
    text-decoration: underline;
}
.logo:hover, .logo:focus{
   color:#4D5AE5;
}
.card1, .card2, .card3, .card4 {
    background-color: white;
    width: 264px;
    height: 380px;
}

