
body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: Dairy#FCFCFC;
    line-height: 1.5;
    letter-spacing: %2;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    
}
header {
    width: 1140px;
    height: 72px;
    border-radius: 1%;
}
.header-container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 0 auto;
    padding: 20px 20px 20px 20px;
    border-bottom: radius #000;
    width: 1140px;
    height: 72px;
    flex-basis: content;
}
.header-nav {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-align: center;
    justify-content: flex-start ;
    align-items: center;  
    flex-grow: 6;
}
.header-address {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
}
.main {
    flex-grow: 1;
}
    
.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 1158px;
}
footer {
    width: 1440px;
    height: 312px;
    text-align: left;
    background-color: #2E2F42;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0 auto;
    align-items: center;
    justify-content: center;
}
footer p {
    color: #F4F4FD;
}
.footer-container {
    width: 1440px;
    margin: 0 auto;
    padding: 100px 1050px 120px 120px;
}
h1,h2,h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
    color: #2E2F42;
}
ul {
    margin-top: 0;
    margin-bottom: ;
    padding-left: 0;
}
h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    background-color: #2E2F42;
  border: 0px solid #000;
  padding-top: 250px;
  flex-grow: 1;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    
}
h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    
}
ul {
    list-style-type: none;
    
}

.sc1 {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    text-align: center;
}
.sc2 ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 120px 70px 120px 70px;
}
.sc3 {
    width: 1440px;
    top: 1016px;
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;

}
.sc3 ul {
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    padding: 120px 70px 120px 70px;
    
}
.sc4 {
    width: 1128px;
    height: 1000px;
    border: 1px;
    padding-left: 70px;
    padding-top: 120px;
    padding-bottom: 200px;
}

.sc4 ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 120px 50px 120px 50px;
}
.item {
    flex: 1 1 calc(33.333% - 10px);
    max-width: calc(33.333% - 10px);
    padding: 20px;
    text-align: center;
}
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: %3;
    text-alignment: center;
    text-transform: uppercase;
    text-decoration: none;
}
.logo1color {
    color: #2E2F42;
}
.logo2color {
    color: #F4F4FD;

}
a {
    color: #2E2F42;
    font-weight: 500;
    text-decoration: none;
}
button {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: %4;
    text-alignment: center;
    background-color: #4D5AE5;
    margin-top: 50px;
    width: 169px;
    height: 56px;
    border-radius: 4px;
     
}
a:hover, a:focus {
    color: #4D5AE5;
}
button:hover, button:focus {
    color: #434455;
    text-decoration: underline;
}
.logo:hover, .logo:focus{
   color:#4D5AE5;
}
.card1, .card2, .card3, .card4 {
    background-color: white;
    width: 264px;
    height: 380px;
}

